<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulário</title>
    
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Brawler' rel='stylesheet'>
    <link rel="stylesheet" href="../assets/index.css">
    <link rel="stylesheet" href="../assets/form.css">
  
</head>

<body>

    <div class="container-full-page" style="background-color: darkblue;">
        <form class="form-box">
            <div class="input-area">
                <label for="nameInput" class="">Nome</label>
                <input type="text" class="input-field" placeholder="placeholder nome" id="nameInput">
            </div>
            <div class="input-area">
                <label for="emailInput" class="">Email</label>
                <input type="email" class="input-field" id="emailInput">
            </div>
            
            <button type="submit" class="btn">Próximo</button>
        </form>
    </div>

</body>

</html>