<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulário</title>
    
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Brawler' rel='stylesheet'>
    <link rel="stylesheet" href="../assets/index.css">
    <link rel="stylesheet" href="../assets/form.css">
  
</head>

<body>

    <div class="container-full-page" style="background-color: darkblue;">
        <div class="form-box">
            <form>
                <div>
                  <label for="nameInput" class="">Nome</label>
                  <input type="text" class="" id="nameInput">
                </div>
                <div>
                  <label for="emailInput" class="">Email</label>
                  <input type="email" class="" id="emailInput">
                </div>
                
                <button type="submit" class="">Submit</button>
            </form>
    
        </div>
    </div>

</body>

</html>