@import url(login.css);

body {
    overflow: auto;
}

.container-full-page-contrato{
    display: flex;
    justify-content: center;

}

.form-box {
    border-radius: 8px;
    background-color: #B8D9FF;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 400px;
    width: 880px;
    }


h1{
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.area-field-contrato{
    margin-left: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 16px 8px;
    font-size: 20px;
    line-height: 150%;
    font-weight: 300;
    border: 1px solid #CED4DA;
    border-radius: 5px;
}

.area-field{
    margin-left: auto;
    width: 100%;
}

.btn-lg{
    height: 48px;
    font-size: 20px;
    background-color: #002855;
    color: #FFFFFF;
    margin-top: 40px;
    padding: 8px 16px;
    border-radius: 5px;
    border-width: 0px;
}   

.btn-lg:hover{
    height: 48px;
    font-size: 20px;
    background-color:#a88e5e;
    color: #FFFFFF;
    margin-top: 40px;
    padding: 8px 16px;
    border-radius: 5px;
    border-width: 0px;
}   

#Input{

height: 20px;

}

.div_voltar {
    width: 40px;
    height: 40px;
    margin-left: 16px;
    margin-top: 2px;
    border-radius: 40px;

    background: #002855;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    user-select: none;
}

.div_voltar:hover {
    width: 40px;
    height: 40px;
    margin-left: 16px;
    margin-top: 2px;
    border-radius: 40px;
    background: #a88e5e;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    user-select: none;
}

.seta{
    height: 30px;
    width: 25px;
}

.form-outer-contrato {
    width: 100%;
    height: 100%;
}

.input-area-detalhes{
    height: 160px;
    min-width: 320px;
    width: 50%;
    padding: 8px;
    margin-bottom: 24px;
}

#DetalhesInput{
    padding-bottom: 100px;
}