:root {
    --primary: #002855;
    --secondary: #002855;
}

.title_mvv {
    text-align: center;
    margin-bottom: 4%;
}

.img_mvv{
    border: solid 02px black;
}

.navbar-color-primary {
    background-color: var(--primary);
}

.footer-color-secondary {
    background-color: var(--secondary);
}

.navbar-brand{
    margin: 0;
    padding: 0;
}

.nav_title{
        font-size: 32px;
        color: #aa905f;
        font-weight: bolder;
        text-decoration: none;
        margin-right: 24px;
    }


.nav-item {
    margin: 0 8px;
    font-weight: bolder;
    font-size: 16px;
    align-items: center;
    display: flex;
}

.nav-item button {
    font-size: 16px;
    font-weight: bolder;
}

.pillars-image {
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: #5a5a5a 0 4px 8px;
}

