@import "index.css";

body {
    position: relative;
}

.main-no-scroll {
    background-color: #93c4fc;
    display: flex;
    justify-content: center;
}

.div_chat {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 90%;
}

.div_contatos {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #FFFFFF;
}

.div_perfil {
    padding: 8px;
    width: 100%;
    min-height: 80px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div_pesquisa {
    width: 95%;
    height: 64px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    padding: 0 2% 0 2%
}

.i_pesquisa {
    height: 42px;
    width: 100%;
    padding-left: 8px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20;
    color: #000000;
    background-image: url("../img/iconeLupa.svg");
    background-position: right center;
    background-repeat: no-repeat;
}

.div_conversas {
    padding: 8px;
    width: 95%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.div_conversas2 {
    padding: 8px;
    width: 95%;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.div_info {
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
    z-index: 1;
}

.div_foto {
    width: 56px;
    height: 56px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.div_nome {
    font-size: 20px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.div_caso {
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.div_correspondente {
    width: 100%;
    flex: 0 1 auto;
    min-height: 80px;
    background-color: #D9D9D9;
    border-bottom: 3px solid #8A8A8A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div_mensagens {
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
}

.div_mensagem1 {
    max-width: 40%;
    min-height: 80px;
    background-color: #FFFFFF;
    margin-left: 10%;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    font-size: 24px;
    font-weight: 400;

}

.div_mensagem2 {
    max-width: 40%;
    min-height: 80px;
    background-color: #FFFFFF;
    margin-left: 50%;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    font-size: 24px;
    font-weight: 400;

}

.div_enviar {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    padding: 12px 32px;
}

.i_enviar-mensagem {
    height: 45px;
    display: flex;
    border-radius: 10px;
    padding-left: 8px;
    font-size: 24px;
    flex: 1 1 auto;
}

.btn_enviar {
    background-color: #AF9469;
    color: #FFFFFF;
    margin-left: 8px;
    width: 45px;
    height: 45px;
    border-radius: 30px;

}

.mensagens {
    overflow-y: auto;
    flex: 1 1 auto;
    max-height: 100%;
    scrollbar-width: auto;
    scrollbar-color: #999999 #D9D9D9;
    padding-bottom: 8px;
}

.mensagens::-webkit-scrollbar {
    width: 16px;
}

.mensagens::-webkit-scrollbar-track {
    background: #D9D9D9;
}

.mensagens::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 10px;
    border: 3px solid #D9D9D9;
}

.btn_all {
    margin-right: 24px;
    min-width: fit-content;
}

.div_perfil_chat {
    display: flex;
    align-items: center;
    margin-inline: 24px;
    max-width: calc(100% - 300px);
}

.div_info_chat {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 56px);
}

.div_foto_chat {
    width: 56px;
    height: 56px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 8px;
    background-color: #ffffff;
    border: 2px solid var(--primary);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto_perfil_img {
    object-fit: cover;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    display: inline;
    margin: 0 auto;
    height: 100%;
}

.chat_num {
    background-color: #c6a979;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.chats {
    overflow-y: auto;
    flex: 1 1 auto;
    scrollbar-width: auto;
    scrollbar-color: #999999 #fff;
}

.chats::-webkit-scrollbar {
    width: 16px;
}

.chats::-webkit-scrollbar-track {
    background: #fff;
}

.chats::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 10px;
    border: 3px solid #fff;
}