@import "index.css";
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/*LEFTSIDEBAR*/

.case-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.selectcase-title {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 20px;
}

.card-no-case {
    display: flex;
    height: 175px;
    width: 750px;
    background-color: #AF9469;
    margin-bottom: 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.card-title {
    font-weight: bold;
    font-size: 24px;
    text-align: start;
}

.card-content {
    height: 80%;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.case-desc {
    font-size: 18px;
}

.card-case {
    display: flex;
    height: 175px;
    width: 750px;
    background-color: #B8D9FF;
    margin-bottom: 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.action-icons {
    display: flex;
    flex-direction: column;
}

.action {
    display: flex;
    flex-direction: column;
}

.button-newcase {
    background-color: #002855;
    border: #002855;
    border-radius: 10px;
    color: #FFFFFF;
    height: 45px;
    width: 130px;
    font-size: 18px;
    margin-top: auto;
}

.button-retomar {
    background-color: #002855;
    border: #002855;
    border-radius: 10px;
    color: #FFFFFF;
    height: 45px;
    width: 130px;
    font-size: 18px;
    margin-top: 70px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.icon {
    cursor: pointer;
}