/* Levar os estilos padrões das páginas ao index.css, deixando aqui somente coisas específicas da landing page */

:root {
    --primary: #002850;
    --secondary: #AF9469;
}

.title_mvv {
    text-align: center;
    margin-bottom: 4%;
}

.img_mvv{
    border: solid 02px black;
}

.navbar-color-primary {
    background-color: var(--primary);
}

.footer-color-secondary {
    background-color: #002850;
    color: black;
}

.navbar-brand{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav_title{
        font-size: 32px;
        color: #aa905f;
        font-weight: bolder;
        text-decoration: none;
        margin-right: 24px;
        margin-left: -16px;
    }


.nav-item {
    color: black;
    margin: 0 8px;
    font-weight: bolder;
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

.nav-item button {
    font-size: 16px;
    font-weight: bolder;
}

.pillars-image {
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.section-padding-up {
    scroll-margin-top: 160px;
}

.text-footer {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.text-footer:hover {
    color: white;
}

.col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
    padding-left: 10%;
    align-items: start;
}

.col-lg-7{
    /*align-items: start;*/
    margin-top: -7rem;
    margin-bottom: -5rem;
}

.lead{
    align-items: start;
}

.mb-5{
    align-items: start;
    margin-right: 5rem;
}

.featurette-heading{
text-align: left;
}