body {
    overflow: auto;
    color: #000;
    font: 12px Verdana, sans-serif;
    padding-top: 0;
    margin-top: 0;
}

#conteudo {
    padding-top: 24px;
    height: 100%;
    width: 85%;
    float: right;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_lateral {
    position: fixed;
    align-items: start;
    height: 130vh;
    transition: left 0.5s linear;
    background: #F5F5F5;
    color: #666;
    width: 15%;
    margin: 0;
    padding: 0;
    float: left;
    box-shadow: 5px 0 5px -2px #888;
}

.menu_lateral ul {
    padding-top: 16px;
    padding-right: 16px;
}

.menu_lateral ul li {
    margin: 0;
    padding: 0px;
    padding-top: 10px;
    text-align: left;
    list-style-type: none;
}

#espaco_barra_lateral {
    height: 266px;
}

#img_barra_lateral {
    margin-right: 8px;
}

.menu_lateral a:link {
    background: #F5F5F5;
    color: #666;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    display: block;
    font-size: 16px;
}

.menu_lateral a:hover {
    color: #000;
}

/* Métricas Clientes:*/

.media_avaliacao {
    border-radius: 8px;
    height: 280px;
    width: 75%;
    justify-content: center;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.media_avaliacao h1 {
    color: #004EDA;
}

.media_avaliacao h2 {
    text-align: start;
    color: #004EDA;
}

#star-container {
    direction: ltr;
}

.media_avaliacao li {
    display: inline-block;
}


/*Relatorio casos*/

.relatorio_casos {
    border-radius: 8px;
    margin-top: 24px;
    height: 280px;
    width: 75%;
    justify-content: center;
    padding: 32px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-direction: column;
    margin-bottom: 24px;
}

.relatorio_casos h2 {
    text-align: start;
    color: #004EDA;
}

#ul_tabela {
    text-align: start;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}

#ul_tabela .li_conteudo {
    color: #004EDA;
    font-size: 24px;
    width: 280px;
    height: 40px;
    margin: 0;
    margin-left: 120px;
    border: 1px solid #CCCCCC;
    background: #FFF;
    overflow: hidden;
    padding: 8px;
}

#ul_tabela .li_text {
    padding: 8px;
    color: #5A5A5F;
    font-size: 24px;
    width: 280px;
    height: 40px;
    margin: 0;
    margin-left: 120px;
    background: #FFF;
    overflow: hidden;
}

#ul_tabela li:nth-child(odd) {
    float: left;
}