<!doctype html>
<html lang="pt-BR">

<head>
    <link rel="icon" href="img/favicon.ico.png" type="image/png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastre-se</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Brawler' rel='stylesheet'>
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="../../public/css/form.css">
</head>

<body>
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>

    <div class="container-full-page">
        <div class="form-box">
            <div style="width: 100%;">
                <div class="div_voltar prev">
                    <img src="img/seta-esquerda.png" class="seta" alt="">
                </div>
            </div>

            <div class="bar-progress">
                <div class="step-progress">
                    <div class="bullet-progress active">
                    </div>
                </div>
                <div class="step-progress">
                    <div class="bullet-progress">
                    </div>
                </div>
                <div class="step-progress step-progress-advogado" style="display: none;">
                    <div class="bullet-progress bullet-progress-advogado">
                    </div>
                </div>
                <div class="step-progress step-progress-cliente" style="display: none;">
                    <div class="bullet-progress bullet-progress-cliente">
                    </div>
                </div>
                <div class="step-progress">
                    <div class="bullet-progress">
                    </div>
                </div>
            </div>
            <h1>Cadastre-se</h1>
            <div class="form-outer">
                <form>
                    <div id="slide-page" class="page">
                        <div class="input-area">
                            <label for="nomeInput" class="">Nome</label>
                            <input type="text" class="input-field" placeholder="Digite o seu Nome" id="nomeInput">
                        </div>

                        <div class="input-area">
                            <label for="emailInputCadastro" class="">Email</label>
                            <input type="email" class="input-field" placeholder="Digite o seu Email"
                                id="emailInputCadastro">
                            <input type="email" class="input-field" placeholder="Digite o seu Email"
                                id="emailInputCadastro">
                        </div>

                        <!-- <div class="input-area">
                            <label for="contatoInput" class="">Contato</label>
                            <input type="text" class="input-field" placeholder="Digite o seu telefone" id="contatoInput">
                        </div> -->


                        <div class="input-area">
                            <label for="typeInput" class="">Tipo</label>
                            <select name="typeInput" class="input-field" id="typeInput">
                                <option value="0" selected disabled hidden>Que tipo de usuário eu sou?</option>
                                <option value="2">Cliente</option>
                                <option value="1">Advogado</option>
                                <!--Por enquanto manter com duas options até fazer o endpoint-->
                                <!--mais options sendo adicionadas a partir do retorno da API-->
                            </select>
                        </div>

                        <a href="login" class="login-link">Já possui cadastro? Clique aqui</a>

                        <button class="btn btn-lg text-light next">Próximo</button>

                    </div>
                    <div class="page">
                        <div class="input-area">
                            <label for="cepInput" class="">CEP</label>
                            <input type="text" class="input-field" placeholder="Digite o seu CEP" id="cepInput">
                        </div>
                        <div class="input-area">
                            <label for="cidadeInput" class="">Cidade</label>
                            <input type="text" class="input-field" disabled placeholder="Digite o seu CEP"
                                id="cidadeInput">
                        </div>
                        <div class="input-area">
                            <label for="bairroInput" class="">Bairro</label>
                            <input type="text" class="input-field" disabled placeholder="Digite o seu CEP"
                                id="bairroInput">
                        </div>
                        <div class="input-area">
                            <label for="numeroInput" class="">Número</label>
                            <input type="text" class="input-field" placeholder="Digite o seu Número" id="numeroInput">
                        </div>

                        <button class="btn btn-lg text-light next">Próximo</button>

                    </div>

                    <div class="page page-advogado" style="display: none;">

                        <div class="input-area">
                            <label for="carteiraOabInput" class="">Especialização</label>
                            <input type="text" class="input-field" placeholder="Digite a sua Especialização"
                                id="especializacaoInput">
                        </div>

                        <div class="input-area">
                            <label for="numeroOabInput" class="">Número OAB</label>
                            <input type="text" class="input-field" placeholder="Digite o Número da OAB"
                                id="numeroOabInput">
                        </div>

                        <div class="input-area">
                            <label for="carteiraOabInput" class="">Número da Carteira da OAB</label>
                            <input type="text" class="input-field" placeholder="Digite o Numero do Cartão"
                                id="carteiraOabInput">
                        </div>

                        <div class="input-area">
                            <label for="fotoOabInput" class="">Foto OAB</label>
                            <input type="file" class="form-control form-control-lg" id="fotoOabInput">
                        </div>

                        <button class="btn btn-lg text-light next">Próximo</button>

                    </div>

                    <div class="page page-cliente" style="display: none;">
                        <div class="input-area">
                            <label for="numeroOabInput" class="">Profissão</label>
                            <input type="text" class="input-field" placeholder="Digite a sua Profissão"
                                id="profissaoInput">
                        </div>

                        <div class="input-area">
                            <label for="numeroOabInput" class="">Data de Nascimento</label>
                            <input type="date" class="input-field" placeholder="Data de Nascimento"
                                id="nascimentoInput">
                        </div>

                        <div class="input-area">
                            <label for="cpfInput" class="">Estado Civil</label>
                            <select class="input-field" id="estadoCivilInput">
                                <option value="0" selected disabled hidden>Selecione seu estado civil</option>
                                <option value="1">Solteiro</option>
                                <option value="2">Casado</option>
                                <option value="3">Divorciado</option>
                                <option value="4">Separado</option>
                                <option value="5">Viúvo</option>
                            </select>
                        </div>
                        <div class="input-area">
                            <label for="carteiraOabInput" class="">Gênero</label>
                            <select name="typeInput" class="input-field" id="generoInput">
                                <option value="0" selected disabled hidden>Selecione seu gênero</option>
                                <option value="1">Masculino</option>
                                <option value="2">Feminino</option>
                                <option value="3">Outros</option>
                            </select>
                        </div>

                        <button class="btn btn-lg text-light next">Próximo</button>

                    </div>


                    <div class="page">
                        <div class="input-area">
                            <label for="cpfInput" class="">CPF</label>
                            <input type="text" class="input-field" placeholder="Digite o seu CPF" id="cpfInput">
                        </div>
                        <div class="input-area">
                            <label for="senhaInput" class="">Senha</label>
                            <input type="password" class="input-field" placeholder="Digite a sua Senha" id="senhaInput">
                        </div>
                        <div class="input-area">
                            <label for="confirmarsenhaInput" class="">Confirmar Senha</label>
                            <input type="password" class="input-field" placeholder="Confirme a Senha"
                                id="confirmarsenhaInput">
                        </div>
                        <p class="terms">Ao criar uma conta, você concorda com nossa <a href="#">Política <br>de
                                Privacidade</a> e nossas <a href="#">Condições de Uso</a>.</p>

                        <button id="submit" class="btn btn-lg text-light">Enviar</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

</body>

</html>
<script src="../../public/js/form.js"></script>
<script>

    // // SEPARAR ISSO TUDO EM UM ARQUIVO .js SEPARADO

    // let userType = document.getElementById("typeInput").value

    // document.getElementById("typeInput").addEventListener("click", (event) => {
    //     document.getElementById("typeInput").style = null
    // })
    // document.getElementById("typeInput").addEventListener("change", (event) => {
    //     userType = event.target.value
    //     switch (userType) {
    //         case "1":
    //         case "2":
    //             nextBtn[0].disabled = false;
    //             alterarForm()
    //             break
    //         default: nextBtn[0].disabled = true;
    //     }

    // })

    // function alterarForm() {
    //     if (userType == "1" && bullet.length == 4) {
    //         document.querySelector(".step-progress.step-progress-cliente").style.display = "none"
    //         document.querySelector(".page-cliente").style.display = "none"

    //         bullet.splice(2, 1, document.querySelector(".bullet-progress-advogado"))
    //         document.querySelector(".step-progress.step-progress-advogado").style.display = "block"
    //         document.querySelector(".page-advogado").style.display = "flex"
    //     }
    //     if (userType == "2" && bullet.length == 4) {
    //         document.querySelector(".step-progress.step-progress-advogado").style.display = "none"
    //         document.querySelector(".page-advogado").style.display = "none"

    //         bullet.splice(2, 1, document.querySelector(".bullet-progress-cliente"))
    //         document.querySelector(".step-progress.step-progress-cliente").style.display = "block"
    //         document.querySelector(".page-cliente").style.display = "flex"
    //     }
    // }

    // const slidePage = document.getElementById("slide-page");

    // const nextBtn = document.querySelectorAll(".next");
    // const prevBtn = document.querySelector(".prev");

    // const submitBtn = document.getElementById("submit");

    // const bullet = Array.from(document.querySelectorAll(".bullet-progress:not(.bullet-progress-advogado)"));

    // let current = 0;
    // let posicaoForm = 0

    // function nextButton() {
    //     bullet[current].classList.remove("active");
    //     bullet[current].classList.add("past");
    //     bullet[current + 1].classList.add("active");
    //     current += 1;
    //     posicaoForm -= 25
    //     slidePage.style.marginLeft = `${posicaoForm}%`
    // }

    // function prevButton() {
    //     bullet[current - 1].classList.remove("past");
    //     bullet[current - 1].classList.add("active");
    //     bullet[current].classList.remove("active");
    //     current -= 1;
    //     posicaoForm += 25
    //     slidePage.style.marginLeft = `${posicaoForm}%`
    // }

    // nextBtn[0].addEventListener("click", function (event) {
    //     event.preventDefault();
    //     if (userType != "1" && userType != "2") {
    //         document.getElementById("typeInput").style.borderColor = "red"
    //         document.getElementById("typeInput").style.color = "red"
    //         return
    //     }
    //     nextButton();
    // })

    // nextBtn.forEach(btn => btn.addEventListener("click", function (event) {
    //     event.preventDefault();
    //     // document.getElementById("emailInputCadastro").value = document.getElementById("emailInput").value
    //     // Não sei o pq isso existe 
    // }));

    // prevBtn.addEventListener("click", function (event) {
    //     if (current == 0) {
    //         history.back()
    //         return
    //     }
    //     prevButton();
    // });

    // submitBtn.addEventListener("click", function () {
    //     event.preventDefault();

    //     let usuario = {
    //         nome: document.getElementById("nomeInput").value,
    //         email: document.getElementById("emailInputCadastro").value,
    //         senha: document.getElementById("senhaInput").value,
    //         contato: "11952849601",
    //         // contato: document.getElementById("contatoInput").value,
    //         // descomentar input html para funcionar
    //         cep: document.getElementById("cepInput").value,
    //         cidade: document.getElementById("cidadeInput").value,
    //         bairro: document.getElementById("bairroInput").value,
    //         numero: document.getElementById("numeroInput").value,
    //         cpf: document.getElementById("cpfInput").value,
    //         tipoUsuarioId: userType
    //     }
    //     if (userType == "1") {
    //         usuario.especializacao = document.getElementById("especializacaoInput").value
    //         usuario.numeroOab = document.getElementById("numeroOabInput").value
    //         // usuario.carteiraOab = document.getElementById("carteiraOabInput").value
    //         // usuario.fotoOab = document.getElementById("fotoOabInput").value
    //     }
    //     if (userType == "2") {
    //         usuario.profissao = document.getElementById("profissaoInput").value
    //         usuario.nascimento = document.getElementById("nascimentoInput").value
    //         usuario.genero = document.getElementById("estadoCivilInput").value
    //         usuario.genero = document.getElementById("generoInput").value
    //     }
    //     cadastrarUsuario(usuario)
    // });

    // window.addEventListener("load", getUserTypes);

    // async function getUserTypes() {
    //     let values = await fetch(`http://localhost:8080/tipoUsuario`, {
    //         method: "GET",
    //         headers: {
    //             "Content-type": "application/json; charset=UTF-8"
    //         }
    //     })
    //         .then((response) => response.json())

    //     console.log(values)
    //     values.forEach(value => {
    //         console.log(value)
    //         document.getElementById("typeInput").add(new Option(value.nome, value.idTipo))
    //     })
    // }

    // async function cadastrarUsuario(usuario) {
    //     await fetch(`http://localhost:8080/usuario`, {
    //         method: "POST",
    //         body: JSON.stringify(usuario),
    //         headers: {
    //             "Content-type": "application/json; charset=UTF-8"
    //         }
    //     })
    //         .then((response) => response.json())
    //         .then((json) => console.log(json));

    //     setTimeout(() => window.location.href = "login", 2000)
    // }

    // const cepInput = document.getElementById('cepInput');
    // const cidadeInput = document.getElementById('cidadeInput');
    // const bairroInput = document.getElementById('bairroInput');

    // cepInput.addEventListener('input', buscarCep);

    // function buscarCep() {
    //     const cep = cepInput.value.replace(/\D/g, '');

    //     if (cep.length === 8) {
    //         fetch(`https://viacep.com.br/ws/${cep}/json/`)
    //             .then(response => response.json())
    //             .then(data => {
    //                 if (!data.erro) {
    //                     cidadeInput.value = data.localidade;
    //                     bairroInput.value = data.bairro;
    //                 }
    //             })
    //             .catch(error => {
    //                 console.error('Erro ao buscar CEP', error);
    //             });
    //     }
    // }

</script>