<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="img/favicon.ico.png" type="image/png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações do contrato</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/finalcontratocliente.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Brawler' rel='stylesheet'>
    <script src="js/scripts.js"></script>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark navbar-color-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="home">
                    <img src="img/Logo-SemFundo.svg" width="120" height="100" class="d-inline-block align-center"
                        alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="contact">Contato</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#mvv">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="chat">Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="userName" href="#equipe">Nome_Cliente</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="completed-page">

        <div class="profile-banner">
            <div onclick="history.back()" class="div_voltar">
                <img src="img/seta-esquerda.png" class="seta" alt="">
            </div>
            <div class="div_foto">
            </div>
            <div class="div_descricoes">
                <div class="div_cardbotao">
                    <h2 class="texto_nome">José da Silva Romeiro</h2>
                </div>
                <div class="div_contrato">
                    <div class="div_informacoes">
                        <div class="div-textos">
                            <div class="div_titulo">SOLICITAÇÃO DE ENCERRAMENTO DE PRESTRAÇÂO DE SERVIÇO</div>
                            <div class="campo-composto">
                                <b class="b_campos">Prestador:</b> José Silva Romeiro <br>
                            </div>
                            <div class="campo-composto">
                                <b class="b_campos">Tomador:</b> Carlos Augusto<br>
                            </div>
                            <p class="p_contrato">José Silva Romeiro(Prestador), vem por meio desse contrato,
                                afirmar que o tal já efetuou prestação do serviço “Análise de contrato imobiliário”
                                solicitado por Carlos Augusto(Tomador). Contudo, tendo em vista que ambas as
                                partes já cumpriram o que lhes foram dispostos, o contrato pode ser encerrado.
                                Caso tenha acontecido algo que desagradem algumas das partes, o nosso suporte está
                                disponível para ambos na área destinada a contato.
                            </p>
                            <div class="campo-composto">
                                <b class="b_campos">Valor:</b> R$ 300,00<br>
                            </div>
                            <div class="campo-composto">
                                <b class="b_campos">Prazo Final:</b> 22/05/2023
                            </div>
                        </div>
                        <p class="p_aceitacao">Deseja concluir a prestação desse serviço?</p>
                        <div class="div-botoes">
                            <a href="marketplace">
                                <div class="btn-acao-neg"><img src="img/ExitIcon.svg"></div>
                            </a>
                            <div class="btn-acao-pos" onclick="aparecerModalAceite()"><img src="img/CorrectIcon.svg">
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="modal" id="div_modal">
            <div class="div_corpo_modal">
                <div class="header-modal">
                    <div onclick="desaparecerModalAceite()" class="div_voltar_modal">
                        <img src="img/seta-esquerda.png" class="seta" alt="">
                    </div>
                    <h2 class="modal-title">Confirmação de encerramento de contrato</h2>
                </div>
                <a href="chat">
                    <div class="botao-aceitar"><img src="img/CorrectIcon.svg"></div>
                </a>
            </div>
        </div>
    </div>

</body>

</html>

<script>
    window.onload = function () {
        document.getElementById("userName").innerHTML = sessionStorage.getItem("userName");
    }
</script>