<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="img/favicon.ico.png" type="image/png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Métricas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/metricasclientes.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/profile.css">
    <link href='https://fonts.googleapis.com/css?family=Brawler' rel='stylesheet'>
    <script src="js/navbar.js"></script>
</head>

<body class="body_metricas">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark navbar-color-primary" style="width: 85%; float: right;">
            <div class="container-fluid">
                <a class="navbar-brand" href="home">
                    <img src="img/Logo-SemFundo.svg" width="120" height="100"
                        class="d-inline-block align-center" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="contact">Contato</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="marketplace">Buscar Advogado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="chat">Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="userName" onclick="deslogar()">Logoff</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </header>

<div id="conteudo">
    <div class="media_avaliacao">
        <h2><u>Média de Avaliações</u></h2>
        <div id="star-container">
        <ul class="avaliacao"></ul>
            <li class="star-icon"><img src="img/star0.png" id="s1"></a></li>
            <li class="star-icon"><img src="img/star0.png" id="s2"></a></li>
            <li class="star-icon"><img src="img/star0.png" id="s3"></a></li>
            <li class="star-icon"><img src="img/star0.png" id="s4"></a></li>
            <li class="star-icon"><img src="img/star0.png" id="s5"></a></li>
        </div>    
        <h1><u id="avaliacao"></u></h2>
    </div>

    <div class="relatorio_casos">
        <h2><u>Relatório de Casos</u></h2>
        <ul id="ul_tabela">
            <li class="li_text">Advogado</li>
            <li class="li_text">Caso</li>
        </ul>
    </div>

</div>
 
<div class="menu_lateral">
    <ul class="ul">
        <li><b>Métricas:</b></li>
		<li><a href="link"><img id="img_barra_lateral" src="img/ListChecks.png" alt="">Relatórios</a></li>
        <ul id="espaco_barra_lateral"></ul>
		<li><a href="link"><img id="img_barra_lateral" src="img/User.png" alt="">Perfil</a></li>
		<li><a href="link"><img id="img_barra_lateral" src="img/notificacao.png" alt="">Notificações</a></li>
		<li><a href="link"><img id="img_barra_lateral" src="img/Gear.png" alt="">Configurações</a></li>
		<li><a href="link"><img id="img_barra_lateral" src="img/Question.png" alt="">FAQ</a></li>
        <li><a href="link"><img id="img_barra_lateral" src="img/exit.png" alt="">Sair</a></li>
	  </ul>
</div>

</body>

</html>
<script>
    window.onload = function () {
        document.getElementById("userName").innerHTML = sessionStorage.getItem("userName");
        dashAvaliacaoCliente();
        dashRelatorio();
    }

    async function dashAvaliacaoCliente(){
    const retorno = await fetch(`http://localhost:8080/dashboard/cliente/1`, {
      method: "GET",
      headers: {
      "Content-type": "application/json; charset=UTF-8"
    }
    })

    avaliacao = await retorno.text()

    document.getElementById("avaliacao").innerHTML = avaliacao

    var stars = document.querySelectorAll('.star-icon');

    var avaliacaoInt = parseFloat(avaliacao);

    // Arredonda a avaliação para o número mais próximo
    var avaliacaoArredondada = Math.round(avaliacaoInt);

    // Garante que a avaliação esteja no intervalo de 0 a 5
    avaliacaoArredondada = Math.max(0, Math.min(avaliacaoArredondada, 5));

        //ESTRELA 1
        if (avaliacao >= 1){ 
        document.getElementById("s1").src = "img/star1.png";
        document.getElementById("s2").src = "img/star0.png";
        document.getElementById("s3").src = "img/star0.png";
        document.getElementById("s4").src = "img/star0.png";
        document.getElementById("s5").src = "img/star0.png";
        }
        //ESTRELA 2
        if (avaliacao >= 2){ 
        document.getElementById("s1").src = "img/star1.png";
        document.getElementById("s2").src = "img/star1.png";
        document.getElementById("s3").src = "img/star0.png";
        document.getElementById("s4").src = "img/star0.png";
        document.getElementById("s5").src = "img/star0.png";
        }

        //ESTRELA 3
        if (avaliacao >= 3){ 
        document.getElementById("s1").src = "img/star1.png";
        document.getElementById("s2").src = "img/star1.png";
        document.getElementById("s3").src = "img/star1.png";
        document.getElementById("s4").src = "img/star0.png";
        document.getElementById("s5").src = "img/star0.png";
        }

        //ESTRELA 4
        if (avaliacao >= 4){ 
        document.getElementById("s1").src = "img/star1.png";
        document.getElementById("s2").src = "img/star1.png";
        document.getElementById("s3").src = "img/star1.png";
        document.getElementById("s4").src = "img/star1.png";
        document.getElementById("s5").src = "img/star0.png";
        } 

        //ESTRELA 5
        if (avaliacao == 5){ 
        document.getElementById("s1").src = "img/star1.png";
        document.getElementById("s2").src = "img/star1.png";
        document.getElementById("s3").src = "img/star1.png";
        document.getElementById("s4").src = "img/star1.png";
        document.getElementById("s5").src = "img/star1.png";
        }  
 
}

    async function dashRelatorio(){
    const retorno = await fetch(`http://localhost:8080/dashboard/casos/1`, {
      method: "GET",
      headers: {
      "Content-type": "application/json; charset=UTF-8"
    }
    })

    const relatorio = await retorno.json()
    let keys = Object.keys(relatorio)
    
    for(i in keys){
        if (keys[i] == ""){
        continue
      }
    document.getElementById("ul_tabela").innerHTML += `<li class = "li_conteudo">${relatorio[i].nomeAdvogado}</li>`
    document.getElementById("ul_tabela").innerHTML += `<li class = "li_conteudo">${relatorio[i].tipoServico}</li>`
    }

}

</script>