<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="img/favicon.ico.png" type="image/png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Métricas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/metricas.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/profile.css">
    <link href='https://fonts.googleapis.com/css?family=Brawler' rel='stylesheet'>

</head>

<body class="body_metricas">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark navbar-color-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="home">
                    <img src="img/Logo-SemFundo.svg" width="120" height="100"
                        class="d-inline-block align-center" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="contact">Contato</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="marketplace">Buscar Advogado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="chat">Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="userName" href="#equipe">Nome_Cliente</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </header>

<div id="conteudo">

    <div id="kpis">
        <div id="kpi1">
            <h4>Total Clientes</h4>
            <h1>120</h1>
        </div>

        <div id="kpi2">
            <h4>Visitas</h4>
            <h1>120</h1>
        </div>

        <div id="kpi3">
            <h4>Contatos</h4>
            <h1>120</h1>
        </div>

        <div id="kpi4">
            <h4>Casos em andamento</h4>
            <h1>120</h1>
        </div>

    </div>

    <div id="espaco_chart1" style="height: 280px; width: 100%;">
        <canvas id="grafico1" style="height: 280px; width: 1040px;"></canvas>
    </div>

    <div id="espaco_chart2" style="height: 280px; width: 100%;">
        <canvas id="grafico2" style="height: 280px; width: 1040px;"></canvas>
    </div>      
 
</div>
 
<div class="menu_lateral">
    <ul class="ul">
        <li><b>Métricas:</b></li>
		<li><a href="link"><img id="img_barra_lateral" src="img/NotePencil.png" alt="">Mensais</a></li>
        <ul id="espaco_barra_lateral"></ul>
		<li><a href="link"><img id="img_barra_lateral" src="img/User.png" alt="">Perfil</a></li>
		<li><a href="link"><img id="img_barra_lateral" src="img/notificacao.png" alt="">Notificações</a></li>
		<li><a href="link"><img id="img_barra_lateral" src="img/Gear.png" alt="">Configurações</a></li>
		<li><a href="link"><img id="img_barra_lateral" src="img/Question.png" alt="">FAQ</a></li>
        <li><a href="link"><img id="img_barra_lateral" src="img/exit.png" alt="">Sair</a></li>
	  </ul>
</div>

</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    window.onload = function () {
        document.getElementById("userName").innerHTML = sessionStorage.getItem("userName");
    }

    const ctx = document.getElementById('grafico1');

    Chart.defaults.font.size = 18;

new Chart(ctx, {
  type: 'line',
  data: {
    labels: ['Jan', 'Fev', 'Mar', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out'],
    datasets: [{
                backgroundColor: 'rgb(224, 113, 47)',    
                borderColor: 'rgb(224, 113, 47)',
                pointBorderColor: "#E0712F",
                pointBackgroundColor: "#FFFF",
                pointBorderWidth: 2,
                pointHoverRadius: 4,
                pointHoverBorderWidth: 1,
                pointRadius: 4,
                BackgroundColor: "#E0712F",
      label: 'Casos',
      data: [12, 19, 3, 5, 2, 3, 10, 12, 4],
      borderWidth: 2
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    },
    plugins: {
          legend: {
            display: true,
            position: "bottom",
            align: "center"
          },
          title: {
                font: {weight: 'bold'},
                color: 'rgb(0,78,218)',
                display: true,
                text: 'Quantidade de casos mensais',
                padding: {
                    top: 10,
                    bottom: 10
                }
  }
}
}
}
);

const ctx2 = document.getElementById('grafico2');

new Chart(ctx2, {
  type: 'line',
  data: {
    labels: ['Jan', 'Fev', 'Mar', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out'],
    datasets: [{
                backgroundColor: 'rgb(224, 113, 47)',
                borderColor: 'rgb(224, 113, 47)',
                pointBorderColor: "#E0712F",
                pointBackgroundColor: "#FFFF",
                pointBorderWidth: 2,
                pointHoverRadius: 4,
                pointHoverBorderWidth: 1,
                pointRadius: 4,
                BackgroundColor: "#E0712F",
      label: 'Qtd. Acessos',
      data: [12, 9, 3, 5, 2, 3, 10, 12, 4],
      borderWidth: 2
    },
    {           backgroundColor: 'rgb(154,128,83)',
                borderColor: 'rgb(154,128,83)',
                pointBorderColor: "#9A8053",
                pointBackgroundColor: "#FFFF",
                pointBorderWidth: 2,
                pointHoverRadius: 4,
                pointHoverBorderWidth: 1,
                pointRadius: 4,
                BackgroundColor: "#E0712F",
      label: 'Contatos',
      data: [22, 17, 11, 9, 12, 10, 12, 12, 20],
      borderWidth: 2,
    }
]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    },
    plugins: {
          legend: {
            display: true,
            position: "bottom",
            align: "center"
          },
          title: {
                font: {weight: 'bold'},
                color: 'rgb(0,78,218)',
                display: true,
                text: 'Acessos X Contatos',
                padding: {
                    top: 10,
                    bottom: 10
                }
  }
}
}
}
);


</script>