<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="img/favicon.ico.png" type="image/png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Métricas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/metricasclientes.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/profile.css">
    <link href='https://fonts.googleapis.com/css?family=Brawler' rel='stylesheet'>

</head>

<body class="body_metricas">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark navbar-color-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="home">
                    <img src="img/Logo-SemFundo.svg" width="120" height="100"
                        class="d-inline-block align-center" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="contact">Contato</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="marketplace">Buscar Advogado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="chat">Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="userName" href="#equipe">Nome_Cliente</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </header>

<div id="conteudo">
    <div class="media_avaliacao">
        <h2><u>Média de Avaliações</u></h2>
        <ul class="avaliacao"></ul>
            <li class="star-icon"></li>
            <li class="star-icon"></li>
            <li class="star-icon"></li>
            <li class="star-icon"></li>
            <li class="star-icon ativo"></li>
        <h1><u>5.0</u></h2>
    </div>

    <div class="relatorio_casos">
        <h2><u>Relatório de Casos</u></h2>
        <ul class="ul_tabela">
            <li class="li_text">Advogado</li>
            <li class="li_text">Caso</li>
            <li class="li_conteudo">Rodrigo Sanchez</li>
            <li class="li_conteudo">Avaliação de contrato</li>
            <li class="li_conteudo">Rodrigo Sanchez</li>
            <li class="li_conteudo">Consulta</li>
            <li class="li_conteudo">Marcos Rocha</li>
            <li class="li_conteudo">Consulta</li>
        </ul>
    </div>

</div>
 
<div class="menu_lateral">
    <ul class="ul">
        <li><b>Métricas:</b></li>
		<li><a href="link"><img id="img_barra_lateral" src="img/ListChecks.png" alt="">Relatórios</a></li>
        <ul id="espaco_barra_lateral"></ul>
		<li><a href="link"><img id="img_barra_lateral" src="img/User.png" alt="">Perfil</a></li>
		<li><a href="link"><img id="img_barra_lateral" src="img/notificacao.png" alt="">Notificações</a></li>
		<li><a href="link"><img id="img_barra_lateral" src="img/Gear.png" alt="">Configurações</a></li>
		<li><a href="link"><img id="img_barra_lateral" src="img/Question.png" alt="">FAQ</a></li>
        <li><a href="link"><img id="img_barra_lateral" src="img/exit.png" alt="">Sair</a></li>
	  </ul>
</div>

</body>

</html>
<script>
    window.onload = function () {
        document.getElementById("userName").innerHTML = sessionStorage.getItem("userName");
    }

    var stars = document.querySelectorAll('.star-icon');
                  
                  document.addEventListener('click', function(e){
                    var classStar = e.target.classList;
                    if(!classStar.contains('ativo')){
                      stars.forEach(function(star){
                        star.classList.remove('ativo');
                      });
                      classStar.add('ativo');
                      console.log(e.target.getAttribute('data-avaliacao'));
                    }
                  });

</script>