<!doctype html>
<html lang="pt-BR">

<head>
    <link rel="icon" href="img/favicon.ico.png" type="image/png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastre-se</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Brawler' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="../../public/css/form.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>

    <div class="container-full-page">
        <div class="form-box">
            <div style="width: 100%;">
                <div class="div_voltar prev">
                    <img src="img/seta-esquerda.png" class="seta" alt="">
                </div>
            </div>

            <div class="bar-progress">
                <div class="step-progress">
                    <div class="bullet-progress active">
                    </div>
                </div>
                <div class="step-progress">
                    <div class="bullet-progress">
                    </div>
                </div>
                <div class="step-progress step-progress-advogado" style="display: none;">
                    <div class="bullet-progress bullet-progress-advogado">
                    </div>
                </div>
                <div class="step-progress step-progress-cliente" style="display: none;">
                    <div class="bullet-progress bullet-progress-cliente">
                    </div>
                </div>
                <div class="step-progress">
                    <div class="bullet-progress">
                    </div>
                </div>
            </div>
            <h1>Cadastre-se</h1>
            <div class="form-outer">
                <form>
                    <div id="slide-page" class="page">
                        <div class="input-area">
                            <label for="nomeInput" class="">Nome</label>
                            <input type="text" class="input-field" placeholder="Digite o seu Nome" id="nomeInput">
                        </div>

                        <div class="input-area">
                            <label for="emailInputCadastro" class="">Email</label>
                            <input type="email" class="input-field" placeholder="Digite o seu Email"
                                id="emailInputCadastro">
                        </div>

                        <!-- <div class="input-area">
                            <label for="contatoInput" class="">Contato</label>
                            <input type="text" class="input-field" placeholder="Digite o seu telefone" id="contatoInput">
                        </div> -->

                        <div class="input-area">
                            <label for="typeInput" class="">Tipo</label>
                            <select name="typeInput" class="input-field" id="typeInput">
                                <option value="0" selected disabled hidden>Que tipo de usuário eu sou?</option>
                                <option value="2">Cliente</option>
                                <option value="1">Advogado</option>
                                <!--Por enquanto manter com duas options até fazer o endpoint-->
                                <!--mais options sendo adicionadas a partir do retorno da API-->
                            </select>
                        </div>

                        <a href="login" class="login-link">Já possui cadastro? Clique aqui</a>

                        <button class="btn btn-lg text-light next">Próximo</button>

                    </div>
                    <div class="page">
                        <div class="input-area">
                            <label for="cepInput" class="">CEP</label>
                            <input type="text" class="input-field" placeholder="Digite o seu CEP" id="cepInput">
                        </div>
                        <div class="input-area">
                            <label for="cidadeInput" class="">Cidade</label>
                            <input type="text" class="input-field" disabled placeholder="Digite o seu CEP"
                                id="cidadeInput">
                        </div>
                        <div class="input-area">
                            <label for="bairroInput" class="">Bairro</label>
                            <input type="text" class="input-field" disabled placeholder="Digite o seu CEP"
                                id="bairroInput">
                        </div>
                        <div class="input-area">
                            <label for="numeroInput" class="">Número</label>
                            <input type="text" class="input-field" placeholder="Digite o seu Número" id="numeroInput">
                        </div>

                        <button class="btn btn-lg text-light next">Próximo</button>

                    </div>

                    <div class="page page-advogado" style="display: none;">


                        <div class="input-area">
                            <label for="carteiraOabInput" class="">Especialização</label>
                            <input type="text" class="input-field" placeholder="Digite a sua Especialização"
                                id="especializacaoInput">
                        </div>

                        <div class="input-area">
                            <label for="numeroOabInput" class="">Número OAB</label>
                            <input type="text" class="input-field" placeholder="Digite o Número da OAB"
                                id="numeroOabInput">
                        </div>

                        <div class="input-area">
                            <label for="carteiraOabInput" class="">Número da Carteira da OAB</label>
                            <input type="text" class="input-field" placeholder="Digite o Numero do Cartão"
                                id="carteiraOabInput">
                        </div>

                        <button class="btn btn-lg text-light next">Próximo</button>

                    </div>

                    <div class="page page-cliente" style="display: none;">
                        <div class="input-area">
                            <label for="profissaoInput" class="">Profissão</label>
                            <input type="text" class="input-field" placeholder="Digite a sua Profissão"
                                id="profissaoInput">
                        </div>

                        <div class="input-area">
                            <label for="nascimentoInput" class="">Data de Nascimento</label>
                            <input type="date" class="input-field" placeholder="Data de Nascimento"
                                id="nascimentoInput">
                        </div>

                        <div class="input-area">
                            <label for="estadoCivilInput" class="">Estado Civil</label>
                            <select class="input-field" id="estadoCivilInput">
                                <option value="0" selected disabled hidden>Selecione seu estado civil</option>
                                <option value="Solteiro">Solteiro</option>
                                <option value="Casado">Casado</option>
                                <option value="Divorciado">Divorciado</option>
                                <option value="Separado">Separado</option>
                                <option value="Viuvo">Viúvo</option>
                            </select>
                        </div>
                        <!-- <div class="input-area">
                            <label for="fotoOabInput" class="">Foto de Perfil</label>
                            <input type="file" class="form-control form-control-lg" id="fotoOabInput">
                        </div> -->
                        <div class="input-area">
                            <label for="generoInput" class="">Gênero</label>
                            <select name="typeInput" class="input-field" id="generoInput">
                                <option value="0" selected disabled hidden>Selecione seu gênero</option>
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                                <option value="Outros">Outros</option>
                            </select>
                        </div>

                        <button class="btn btn-lg text-light next">Próximo</button>

                    </div>


                    <div class="page">
                        <div class="input-area">
                            <label for="fotoOabInput" class="">Foto de Perfil</label>
                            <input type="file" class="form-control form-control-lg" id="fotoOabInput">
                        </div>

                        <div class="input-area">
                            <label for="cpfInput" class="">CPF</label>
                            <input type="text" class="input-field" placeholder="Digite o seu CPF" id="cpfInput">
                        </div>
                        <div class="input-area inputSenha">
                            <label for="senhaInput" class="">Senha</label>
                            <input type="password" class="input-field" placeholder="Digite a sua Senha" id="senhaInput">
                            <!-- <i class="bi bi-eye-fill visibility"></i> -->
                        </div>
                        <div class="input-area inputSenha">
                            <label for="confirmarsenhaInput" class="">Confirmar Senha</label>
                            <input type="password" class="input-field" placeholder="Confirme a Senha"
                                id="confirmarSenhaInput">
                        </div>

                        <p class="terms">Ao criar uma conta, você concorda com nossa <a href="#">Política <br>de
                                Privacidade</a> e nossas <a href="#">Condições de Uso</a>.</p>

                        <button id="submit" class="btn btn-lg text-light">Enviar</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

</body>

</html>
<script src="../../js/form.js"></script>