<!doctype html>
<html lang="pt-BR">

<head>
    <link rel="icon" href="img/favicon.ico.png" type="image/png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Brawler' rel='stylesheet'>
    <link rel="stylesheet" href="css/login.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>

    <div class="container-full-page">
        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
        <div class="form-box">
            <div style="width: 100%;">
                <div class="div_voltar div_voltar-login prev">
                    <img src="img/seta-esquerda.png" class="seta" alt="">
                </div>
            </div>

            <h1>Login</h1>
            <div class="form-outer">
                <form>
                    <div class="input-area">
                        <label for="emailInput" class="">Email</label>
                        <input type="text" class="input-field" placeholder="Email" id="emailInput">
                    </div>
                    <div class="input-area">
                        <label for="senhaInput" class="">Senha</label>
                        <input type="password" class="input-field" placeholder="Senha" id="senhaInput">
                    </div>
                    <!-- <div class="input-area">
                        <label for="typeInput" class="">Tipo</label>
                        <select name="typeInput" class="input-field" id="typeInput">
                            <option value="" selected disabled hidden>Que tipo de usuário eu sou?</option>
                            <option value="cliente">Cliente</option>
                            <option value="advogado">Advogado</option>
                        </select>
                    </div> -->

                    <p class="cadastro-link">Ainda não possui conta? <a href="cadastro" class="link">CADASTRE-SE</a></p>

                    <button id="submit" class="btn btn-lg text-light">Enviar</button>

                </form>
            </div>
        </div>
    </div>

    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>

</html>
<script src="../../js/login.js"></script>
<script>

    // // SEPARAR ISSO TUDO EM UM ARQUIVO .js SEPARADO

    //     // let userType = ""

    //     // document.getElementById("typeInput").addEventListener("click", (event) => {
    //     //     document.getElementById("typeInput").style = null
    //     // })
    //     document.getElementById("typeInput").addEventListener("change", (event) => {
    //         userType = event.target.value
    //         switch (userType) {
    //         case "cliente":
    //         case "advogado":
    //             submitBtn.disabled = false;
    //             break
    //         default: submitBtn.disabled = true;
    //     }

    //     })

    const prevBtn = document.querySelector(".prev");

    const submitBtn = document.getElementById("submit");

    function prevButton() {
        history.back()
    }

    prevBtn.addEventListener("click", function (event) {
        prevButton();
    });

    submitBtn.addEventListener("click", function () {
        event.preventDefault();
        let usuario = {
            email: document.getElementById("emailInput").value,
            senha: document.getElementById("senhaInput").value,
        }
        LogarUsuario(usuario)
    });

    async function LogarUsuario(usuario) {
        await fetch(`https://project-lawlinkup-5yraro2lta-uc.a.run.app/login`, {
                method: "POST",
                body: JSON.stringify(usuario),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
            .then((response) => {
                if (response.status === 403) {
                    throw new Error("Email/Senha inválidos!");
                }
                return response.json();
            })
            .then((json) => {
                if (json.senha == usuario.senha && json.email == usuario.email){
                    valid = true;
                }
                sessionStorage.setItem("userType", json.tipoUsuario.nome.toLowerCase());
                sessionStorage.setItem("userName", json.nome);
                sessionStorage.setItem("userId", json.idUsuario);
                userType = json.tipoUsuario.nome.toLowerCase();
            })
            .catch((error) => {
                alert(error.message); // Exibe a mensagem de erro para 403
            });

            if (valid){
                window.location.href = userType == "cliente" ? "marketplace" : "profile";
            }
    }


</script>